################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVC_SYSTEM
/MVC_SYSTEM/bin
/packages
/MVC_SYSTEM/obj
MVC_SYSTEM/MVC_SYSTEM.csproj.user
MVC_SYSTEM/obj/Debug/en/MVC_SYSTEM.resources.dll
MVC_SYSTEM/obj/Debug/id/MVC_SYSTEM.resources.dll
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.App_LocalResources.GlobalResEstate.resources
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.CoreCompileInputs.cache
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.FileListAbsolute.txt
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.GenerateResource.cache
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.dll
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.pdb
MVC_SYSTEM/Web.config
MVC_SYSTEM/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MVC_SYSTEM/obj/Debug/en/MVC_SYSTEM.resources.dll
MVC_SYSTEM/obj/Debug/id/MVC_SYSTEM.resources.dll
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.CoreCompileInputs.cache
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.FileListAbsolute.txt
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.GenerateResource.cache
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.dll
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.pdb
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.GenerateResource.cache
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.FileListAbsolute.txt
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.CoreCompileInputs.cache
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.GenerateResource.cache
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.FileListAbsolute.txt
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.CoreCompileInputs.cache
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.GenerateResource.cache
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.FileListAbsolute.txt
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.CoreCompileInputs.cache
*.resources
*.resources
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.App_LocalResources.GlobalResEstate.resources
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.App_LocalResources.GlobalResEstate.en.resources
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.App_LocalResources.GlobalResEstate.en.resources
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.App_LocalResources.GlobalResEstate.resources
MVC_SYSTEM/obj/Debug/id/MVC_SYSTEM.resources.dll
MVC_SYSTEM/obj/Debug/en/MVC_SYSTEM.resources.dll
MVC_SYSTEM/obj/Debug/en/MVC_SYSTEM.resources.dll
MVC_SYSTEM/obj/Debug/id/MVC_SYSTEM.resources.dll
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.App_LocalResources.GlobalResEstate.en.resources
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.App_LocalResources.GlobalResEstate.id.resources
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.App_LocalResources.GlobalResEstate.resources
*.dll
