################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVC_SYSTEM
/MVC_SYSTEM/bin
/packages
/MVC_SYSTEM/obj
MVC_SYSTEM/MVC_SYSTEM.csproj.user
*.dll
*.cache
*.txt
*.cache
*.cache
*.cache
*.txt
*.cache
*.cache
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.GenerateResource.cache
*.txt
MVC_SYSTEM/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.FileListAbsolute.txt
*.txt
MVC_SYSTEM/obj/Debug/en/MVC_SYSTEM.resources.dll
